<div class="content_all border_radius_4">
	<div class="check_task_top border_radius_top_4">
		<div class="check_task_wrap padd_left_280">
			<span class="btn_size btn_blue btn_light_blue" style="visibility: hidden;">新增</span>
			<span class="fix_time_check" style="visibility: hidden;"><i class="ico_sprite check_box_normal" ng-class="undo?'check_box_select':''"></i>显示禁用</span>
		</div>
	</div>
	<div class="check_task_scroll">
		<p class="list_data list_data_head min_width_793">
			<span class="dic_code">编码</span>
			<span class="dic_name">名称</span>
			<span class="dic_disabled">值(秒)</span>
			<span class="dic_operate">操作</span>
		</p>
		<div class="list_data_scroll fix_time_data phone_list_wrap min_width_793">
			<p class="list_data cursor_normal" ng-show="add_show"></p>
			<p class="list_data cursor_normal" ng-repeat="l in sys_list track by $index">
				<span class="dic_code">
					<font>{{l.code}}</font>
				</span>
				<span class="dic_name">
					<input type="text" class="input_text" ng-model="l.name" ng-if="l.read"/>
                  	<font ng-if="!l.read">{{l.name}}</font>
				</span>
				<span class="dic_disabled">
					<input type="text" class="input_text" ng-model="l.value" ng-if="l.read"/>
                  	<font ng-if="!l.read">{{l.value}}</font>
				</span>
				<span class="dic_operate" ng-class="l.read?'location_edit':''">
					<font ng-if="!l.read" ng-click="l.read=true">修改</font><font ng-if="l.read" ng-click="save_data_btn(l,'edit')">保存 | </font>
					<font ng-if="l.read" ng-click="l.read=false">取消</font></font>
				</span>
			</p>
		</div>
	</div>
</div>


		