<div ng-class="$ctrl.is_or_no_alert()" class="border_radius_4">
	<i class="ico_sprite ico_close" ng-click="$ctrl.alert_cancel()" style="right: 20px;"></i>
	<p class="notice_detai_title">{{$ctrl.noticeItem.noticeTitle}}</p>
	<p class="notice_detai_time">{{$ctrl.noticeItem.noticeDate}}<br/>
	发布人：{{$ctrl.noticeItem.person.givenNameOriental}}
	</p>
	<textarea class="notice_detai_content" ng-show="$ctrl.noticeItem.noticeContent">{{$ctrl.noticeItem.noticeContent}}</textarea>
	<p class="notice_file" ng-repeat="l in $ctrl.noticeDetail track by $index">{{l.originalName}}<span ng-click="$ctrl.download(l.fileName,l.originalName)">下载</span></p>
</div>