<div ng-class="$ctrl.is_or_no_alert()">
	<div class="content_right border_radius_4" style="margin-left: 0;">
		<div class="network_alert_head border_radius_top_4">
			<i class="ico_sprite ico_back" ng-click="$ctrl.alert_cancel()"></i>
		</div>
		<!--火灾/故障基本信息-->
		<div class="network_alert_content record_alert_detail" style="padding: 0 117px;">
			<div class="network_alert_title record_alert_title">{{$parent.selected == 0?'火灾':'故障'}}报警单位基本信息</div>
			<table style="width: 100%">
				<tr>
					<td class="tb_head">单位编码：</td>
					<td>{{$ctrl.baseInfo.code}}</td>
					<td class="tb_head">单位名称：</td>
					<td>{{$ctrl.baseInfo.name}}</td>
				</tr>
				<tr>
					<td class="tb_head">设备编码：</td>
					<td>{{$ctrl.recordsDetails.reportingDevice.code}}</td>
					<td class="tb_head">设备名称：</td>
					<td>{{$ctrl.recordsDetails.reportingDevice.name}}</td>
				</tr>
				<tr>
					<td class="tb_head">所属区域：</td>
					<td>{{$ctrl.baseInfo.regionId | area_filter:$parent.net_areas}}</td>
					<td class="tb_head">所属消防队：</td>
					<td>{{$ctrl.baseInfo.fireBrigade.name}}</td>
				</tr>
				<tr>
					<td class="tb_head">消防安全负责人：</td>
					<td>{{$ctrl.baseInfo.contactPersons[1].givenNameOriental}}</td>
					<td class="tb_head">联系方式：</td>
					<td>{{$ctrl.baseInfo.contactPersons[1].contactInfos[0].contactInfo}}</td>
				</tr>
				<tr>
					<td class="tb_head">消控室电话：</td>
					<td>{{$ctrl.baseInfo.controlRoomContactinfo}}</td>
					<td class="tb_head">单位类别：</td>
					<td>{{$ctrl.baseInfo.siteTypeId  | dic_filter:$parent.site_type}}</td>
				</tr>
				<tr>
					<td class="tb_head">单位地址：</td>
					<td colspan="3">{{$ctrl.baseInfo.address.address}}</td>
				</tr>
			</table>
			<div class="network_alert_title record_alert_title"><font ng-if="$parent.selected == 0">火灾</font><font ng-if="$parent.selected == 1">故障</font>报警信息详情</div>
			<!--火灾详情-->
			<table style="width: 100%" ng-if="$parent.selected == 0" class="record_alert_deal record_alert_deal_new">
				<tr>
					<td class="tb_head" rowspan="2">{{$ctrl.recordsDetails.alertTime | date:'yyyyMMdd HH:mm:ss'}}</td>
					<td style="width: 88%;"><font>报警位置：</font>{{$ctrl.recordsDetails.reportingDevice.address.address}}</td>
				</tr>
				<tr>
					<td style="width: 88%;"><font>警情概述：</font>{{$ctrl.danger_status($ctrl.recordsDetails.reportingDevice.name,$ctrl.recordsDetails.remarks)}}</td>
				</tr>
				<tr ng-repeat="l in $ctrl.recordsDetails.processingRecords">
					<td class="tb_head">{{l.processingTime | date:'yyyyMMdd HH:mm:ss'}}</td>
					<td style="width: 88%;">
						<div>
							<p><font>警情处理为：</font>{{$ctrl.status_format(l.statusId,l.endStateId)}}</p>
							<p><font>处理人：</font>{{l.person.nameOriental}}</p>
							<p><font>备注：</font>{{l.remarks || '无'}}</p>
						</div>
					</td>
				</tr>
			</table>
			<!--故障详情-->
			<table style="width: 100%" ng-if="$parent.selected == 1" class="record_alert_deal">
				<tr>
					<td class="tb_head">联网单位报警：</td>
					<td style="width: 78%;">{{$ctrl.recordsDetails.alertTime | date:'yyyyMMdd HH:mm:ss'}}</td>
				</tr>
				<tr>
					<td class="tb_head">故障类型：</td>
					<td style="width: 78%;">{{$ctrl.device_broke($ctrl.recordsDetails)}}</td>
				</tr>
				<tr>
					<td class="tb_head">故障位置：</td>
					<td style="width: 78%;">{{$ctrl.recordsDetails.reportingDevice.address.address}}</td>
				</tr>
				<tr>
					<td class="tb_head">故障终端设备：</td>
					<td style="width: 78%;">{{$ctrl.recordsDetails.reportingDevice.name}}</td>
				</tr>
				<tr>
					<td class="tb_head">平台接到警情信息：</td>
					<td style="width: 78%;">{{$ctrl.recordsDetails.receivingTime | date:'yyyyMMdd HH:mm:ss'}}</td>
				</tr>
				<tr>
					<td class="tb_head">警情处理：</td>
					<td style="width: 78%;">
						<div ng-repeat="l in $ctrl.recordsDetails.processingRecords">
							<font>警情处理为：</font>{{$ctrl.status_format(l.statusId,l.endStateId)}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font>处理人：</font>{{l.person.nameOriental}}<br/>
							<font>备注：</font>{{l.remarks || '无'}}
						</div>
					</td>
				</tr>
			</table>
			<!--火灾信息-->
			<div class="fire_alert_wrap" ng-if="$parent.selected == 0&&$ctrl.surface.length>0">
				<p class="fire_alert_title">平面图</p>
				<a href="{{$root.qiuNiuUrl+$ctrl.surface[0].qiniuName}}" data-lightbox="roadtrip">
					<img ng-src="{{$ctrl.surface[0].qiniuName?($root.qiuNiuUrl+$ctrl.surface[0].qiniuName):''}}" class="fire_alert_img"/>
				</a>
			</div>
			<div class="fire_alert_wrap" ng-if="$parent.selected == 0&&$ctrl.outside.length>0">
				<p class="fire_alert_title">外观图</p>
				<!--<a href="{{$root.qiuNiuUrl+$ctrl.outside[0].qiniuName}}" data-lightbox="roadtrip">-->
					<img ng-src="{{$ctrl.outside[0].qiniuName?($root.qiuNiuUrl+$ctrl.outside[0].qiniuName):''}}" class="fire_alert_img"/>
				<!--</a>-->
			</div>
			<div class="fire_alert_wrap" ng-if="$parent.selected == 0">
				<p class="fire_alert_title">地理图</p>
				<div id="fireMap" style="width: 100%;height:420px;"></div>
			</div>
			
		</div>
	
	</div>
</div>