<div class="content_all area_statis_bg">
	<div class="area_statis_cen border_radius_4" style="top: 0;">
		<div id="area_bar" class="unit_statis_full"></div>
	</div>
	<div class="area_statis_cen border_radius_4" style="bottom: 0;height: 51.5%;">
		<select class="select_text width_114 statis_select" ng-model="current_area" ng-change="get_region_data()">
			<option value="{{l.id}}" ng-repeat="l in net_areas">{{l.regionName}}</option>
		</select>
		<div id="area_line" class="unit_statis_full"></div>
	</div>
</div>
<!--弹窗-->
<div class="ranking_info_detail area_statis_detail" ng-show="detail_show">
	<div class="ranking_info_title">
		{{current_area | area_filter:net_areas}}{{current_month}}月{{show_types()}}
		<i class="ico_sprite ico_close" ng-click="detail_show = false"></i>
	</div>
	<div class="check_task_scroll border_radius_4 ranking_info_scroll">
		<p class="list_data list_data_head min_width_440">
			<span class="area_statiss_index">序号</span>
			<span class="area_statiss_time">单位名称</span>
			<span class="area_statiss_time">报警时间</span>
			<span class="area_statiss_time">报警位置</span>
			<span class="ranking_info_index" ng-if="show_type!=2">警情概述</span>
			<span class="ranking_info_index">警情状态</span>
		</p>
		<div class="list_data_scroll fix_check_task min_width_440">
			<p class="list_data cursor_normal" ng-repeat="l in unit_list track by $index">
				<span class="area_statiss_index">{{$index+1}}</span>
				<span class="area_statiss_time">{{l.relay.famCustomerSite.name}}</span>
				<span class="area_statiss_time" title="{{l.alertTime | date:'yyyy-MM-dd HH:mm:ss'}}">{{l.alertTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
				<span class="area_statiss_time">{{l.reportingDevice.address.address}}</span>
				<span class="ranking_info_index" ng-if="show_type!=2">{{danger_status(l.terminalStatusId)}}</span>
				<span class="ranking_info_index">{{status_format(l.processingStatusId,l.endStateId)}}</span>
			</p>
		</div>	
	</div>
	<p class="ranking_info_btn text-right">
		<span class="btn_size btn_blue margin_right_10 vertical_top" ng-click="download_file()">导出</span>
		<span class="btn_size btn_green vertical_top">打印</span>
	</p>
</div>