<div class="content_all border_radius_4">
    <div id="unit_chart" class="unit_statis_full"></div>
</div>
<!--弹窗-->
<div class="ranking_info_detail" ng-show="unit_statics_show" style="min-width: 1000px;margin-left: -560px" id="unit_statics_div"> 
	<div class="ranking_info_title">
		2018年{{cateyName}}火灾报警数量统计
		<i class="ico_sprite ico_close" ng-click="unit_statics_show = false"></i>
	</div>
	<div class="check_task_scroll border_radius_4 ranking_info_scroll">
		<p class="list_data list_data_head min_width_440">
			<span class="ranking_info_index">序号</span>	
			<span class="ranking_info_code" style="width:8%">单位编码</span>
			<span class="ranking_info_name" style="width:21%">单位名称</span>	
			<span class="ranking_info_position" style="width:18%">报警位置</span>
			<span class="ranking_info_describ">警情类型</span>
			<!--<span class="ranking_info_status">警情状态</span> -->
			<span class="ranking_info_time" style="width:16%">报警时间</span>
			<span class="ranking_info_receiv">处理时间</span> 
			<span class="ranking_info_area">所属区域</span> 
		</p>
		<div class="list_data_scroll fix_check_task min_width_440">
			<p class="list_data cursor_normal" ng-repeat="l in unit_statistic_list track by $index">
				<span class="ranking_info_index">{{$index+1}}</span>
				<span class="ranking_info_code" style="width:8%">{{l.relay.famCustomerSite.code}}</span>
				<span class="ranking_info_name" style="width:21%" title="{{l.relay.famCustomerSite.name}}">{{l.relay.famCustomerSite.name}}</span>	
				<span class="ranking_info_position" style="width:18%" title="{{l.reportingDevice.address.address}}">{{l.reportingDevice.address.address}}</span>
				<span class="ranking_info_describ">{{l.endStateId | dic_filter:fire_states}}</span>
				<!--<span class="ranking_info_status">{{status_format(l.processingStatusId,l.endStateId)}}</span>-->	
				<span class="ranking_info_time" style="width:16%" title="{{l.alertTime | date:'yyyy-MM-dd HH:mm:ss'}}">{{l.alertTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
				<span class="ranking_info_receiv">{{l.receivingTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
				<span class="ranking_info_area">{{l.relay.famCustomerSite.regionId | area_filter:net_areas}}</span>
			</p>
		</div>	
	</div>
	<p class="ranking_info_btn text-right">
		<span class="btn_size btn_blue margin_right_10 vertical_top" ng-click="download_file()">导出</span>
		<span class="btn_size btn_green vertical_top" ng-click="printFunc()">打印</span>
	</p>
</div>