<div class="content_all border_radius_4 notice_scrolls">
	<div class="check_task_scroll border_radius_4" style="height: 100%;">
		<p class="list_data list_data_head min_width_793">
			<span class="notice_index">序号</span>
			<span class="notice_title">通知名称</span>
			<span class="notice_time">发布时间</span>
			<span class="notice_from">发布人</span>
			<span class="notice_files">附件个数</span>
		</p>
		<div class="list_data_scroll fix_time_data min_width_793">
			<p class="list_data cursor_normal min_width_793" ng-repeat="l in notice_list track by $index" ng-dblclick="view_notice(l.id,l)">
				<span class="notice_index">{{$index+1}}</span>
				<span class="notice_title" title="{{l.noticeTitle}}">{{l.noticeTitle}}</span>
				<span class="notice_time">{{l.noticeDate}}</span>
				<span class="notice_from">{{l.person.givenNameOriental}}</span>
				<span class="notice_files">{{l.isHaveAttachment}}</span>
			</p>
		</div>
	</div>
</div>

<!--<notice-detail-alert show-alert="notice_show" notice-detail="notice_detail"></notice-detail-alert>-->
<notice-detail-alert show-alert="notice_show" notice-detail="notice_detail" notice-item="notice_item"></notice-detail-alert>