<div class="alarm_statis_top border_radius_4">
	<div class="alarm_statis_block">
		<div class="alarm_statis_inline border_radius_4">
			<p>本日报警数</p>
			<div class="alarm_statis_number">
				<span ng-if="count_number.todayActualFire.length">真实火警</span>
				<span ng-repeat="l in count_number.todayActualFire track by $index">
					<i ng-class="colorful(l,$index,count_number.todayActualFire,0)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.todayFalseFire.length">误报火警</span>
				<span ng-repeat="l in count_number.todayFalseFire track by $index">
					<i ng-class="colorful(l,$index,count_number.todayFalseFire,1)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.todayAlert.length">故障信息</span>
				<span ng-repeat="l in count_number.todayAlert track by $index">
					<i ng-class="colorful(l,$index,count_number.todayAlert,2)">{{l}}</i>
				</span>
			</div>
		</div>
	</div>
	<div class="alarm_statis_block text-center">
		<div class="alarm_statis_inline border_radius_4">
			<p>本月报警数</p>
			<div class="alarm_statis_number">
				<span ng-if="count_number.monthActualFire.length">真实火警</span>
				<span ng-repeat="l in count_number.monthActualFire track by $index">
					<i ng-class="colorful(l,$index,count_number.monthActualFire,0)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.monthFalseFire.length">误报火警</span>
				<span ng-repeat="l in count_number.monthFalseFire track by $index">
					<i ng-class="colorful(l,$index,count_number.monthFalseFire,1)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.monthAlert.length">故障信息</span>
				<span ng-repeat="l in count_number.monthAlert track by $index">
					<i ng-class="colorful(l,$index,count_number.monthAlert,2)">{{l}}</i>
				</span>
			</div>
		</div>
	</div>
	<div class="alarm_statis_block text-right">
		<div class="alarm_statis_inline border_radius_4">
			<p>本年报警数</p>
			<div class="alarm_statis_number">
				<span ng-if="count_number.yearActualFire.length">真实火警</span>
				<span ng-repeat="l in count_number.yearActualFire track by $index">
					<i ng-class="colorful(l,$index,count_number.yearActualFire,0)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.yearFalseFire.length">误报火警</span>
				<span ng-repeat="l in count_number.yearFalseFire track by $index">
					<i ng-class="colorful(l,$index,count_number.yearFalseFire,1)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.yearAlert.length">故障信息</span>
				<span ng-repeat="l in count_number.yearAlert track by $index">
					<i ng-class="colorful(l,$index,count_number.yearAlert,2)">{{l}}</i>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="alarm_statis_cen border_radius_4" >
	<select class="select_text width_114 statis_select" ng-model="current_year" ng-change="get_year_data()">
		<option value="{{l}}" ng-repeat="l in year">{{l}}年</option>
	</select>
	<div id="alarm_line" class="unit_statis_full"></div>
</div>