<div class="alarm_statis_top border_radius_4">
	<div class="alarm_statis_block">
		<div class="alarm_statis_inline border_radius_4">
			<p>本日报警数</p>
			<div class="alarm_statis_number">
				<span ng-if="count_number.todayActualFire.length">真实火警</span>
				<span ng-repeat="l in count_number.todayActualFire track by $index">
					<i ng-class="colorful(l,$index,count_number.todayActualFire,0)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.todayFalseFire.length">误报火警</span>
				<span ng-repeat="l in count_number.todayFalseFire track by $index">
					<i ng-class="colorful(l,$index,count_number.todayFalseFire,1)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.todayAlert.length">故障信息</span>
				<span ng-repeat="l in count_number.todayAlert track by $index">
					<i ng-class="colorful(l,$index,count_number.todayAlert,2)">{{l}}</i>
				</span>
			</div>
		</div>
	</div>
	<div class="alarm_statis_block text-center">
		<div class="alarm_statis_inline border_radius_4">
			<p>本月报警数</p>
			<div class="alarm_statis_number">
				<span ng-if="count_number.monthActualFire.length">真实火警</span>
				<span ng-repeat="l in count_number.monthActualFire track by $index">
					<i ng-class="colorful(l,$index,count_number.monthActualFire,0)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.monthFalseFire.length">误报火警</span>
				<span ng-repeat="l in count_number.monthFalseFire track by $index">
					<i ng-class="colorful(l,$index,count_number.monthFalseFire,1)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.monthAlert.length">故障信息</span>
				<span ng-repeat="l in count_number.monthAlert track by $index">
					<i ng-class="colorful(l,$index,count_number.monthAlert,2)">{{l}}</i>
				</span>
			</div>
		</div>
	</div>
	<div class="alarm_statis_block text-right">
		<div class="alarm_statis_inline border_radius_4">
			<p>本年报警数</p>
			<div class="alarm_statis_number">
				<span ng-if="count_number.yearActualFire.length">真实火警</span>
				<span ng-repeat="l in count_number.yearActualFire track by $index">
					<i ng-class="colorful(l,$index,count_number.yearActualFire,0)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.yearFalseFire.length">误报火警</span>
				<span ng-repeat="l in count_number.yearFalseFire track by $index">
					<i ng-class="colorful(l,$index,count_number.yearFalseFire,1)">{{l}}</i>
				</span>
			</div>
			<div class="alarm_statis_number">
				<span ng-if="count_number.yearAlert.length">故障信息</span>
				<span ng-repeat="l in count_number.yearAlert track by $index">
					<i ng-class="colorful(l,$index,count_number.yearAlert,2)">{{l}}</i>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="alarm_statis_cen border_radius_4" >
	<select class="select_text width_114 statis_select" ng-model="current_year" ng-change="get_year_data()">
		<option value="{{l}}" ng-repeat="l in year">{{l}}年</option>
	</select>
	<div id="alarm_line" class="unit_statis_full"></div>
</div>

<!--弹窗-->
<div class="ranking_info_detail area_statis_detail" ng-show="detail_show_user">
	<div class="ranking_info_title">
		2018年{{current_month}}月联网单位{{show_types()}}统计表
		<i class="ico_sprite ico_close" ng-click="detail_show_user = false"></i>
	</div>
	<div class="check_task_scroll border_radius_4 ranking_info_scroll">
		<p class="list_data list_data_head min_width_440">
			<span class="area_statiss_index">序号</span>
			<span class="area_statiss_name">单位名称</span>
			<span class="area_statiss_alarm_time">报警时间</span>
			<span class="area_statiss_pos">报警位置</span>
			<span class="area_statiss_describ" ng-if="show_type!=2">警情概述</span>
			<span class="area_statiss_status">警情状态</span>
			<span class="area_statiss_receiv">接警时间</span> <!--弹窗加入接警时间-->
		</p>
		<div class="list_data_scroll fix_check_task min_width_440">
			<p class="list_data cursor_normal" ng-repeat="l in unit_list track by $index">
				<span class="area_statiss_index">{{$index+1}}</span>
				<span class="area_statiss_name" title="{{l.siteName}}">{{l.siteName}}</span>
				<span class="area_statiss_alarm_time" title="{{l.alertTime | date:'yyyy-MM-dd HH:mm:ss'}}">{{l.alertTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
				<span class="area_statiss_pos" title="{{l.reportingDeviceAddress.address}}">{{l.reportingDeviceAddress.address}}</span>
				<span class="area_statiss_describ" ng-if="show_type!=2">{{danger_status(l.terminalStatusId)}}</span>
				<span class="area_statiss_status">{{status_format(l.processingStatusId,l.endStateId)}}</span>
				<span class="area_statiss_receiv">{{l.receivingTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
			</p>
		</div>	
	</div>
	<p class="ranking_info_btn text-right">
		<span class="btn_size btn_blue margin_right_10 vertical_top" ng-click="download_file()">导出</span>
		<!--<span class="btn_size btn_green vertical_top">打印</span>-->
	</p>
</div>