<div class="content_all border_radius_4">
	<div class="check_task_top border_radius_top_4">
		<div class="check_task_wrap">
			<ul class="contact_list_tab" style="margin-left: 20px;">
				<li ng-click="show_tab(0)" ng-class="tab_now==0?'contact_list_select':''">登录日志</li>
<!--				<li class="contact_list_li_center" ng-click="show_tab(1)" ng-class="tab_now==1?'contact_list_select':''">操作日志</li>-->
				<li ng-click="show_tab(1)" ng-class="tab_now==1?'contact_list_select':''" style="border-left: 1px solid #CFD5E1;">操作日志</li>
			</ul>
<!--			<span class="search_wrap"><input class="input_text width_240 enter_press" placeholder="请输入关键字搜索"/><i class="ico_sprite search_ico"></i></span>-->
		</div>
	</div>
	<div class="check_task_scroll border_radius_4">
		<p class="list_data list_data_head">
			<span class="logs_list_code">序号</span>
			<span class="logs_list_name">操作账号</span>
			<span class="logs_list_person" ng-show="tab_now==1">操作人</span>
			
			<span class="logs_list_time">时间</span>
			<span class="logs_list_operate">操作项</span>
		</p>
		<div class="list_data_scroll fix_time_data min_width_967">
			<p class="list_data cursor_normal" ng-repeat="l in logs_list track by $index">
				<span class="logs_list_code">{{$index+1}}</span>
				<span class="logs_list_name">{{l.username}}</span>
				<span class="logs_list_person" ng-show="tab_now==1">{{l.person.givenNameOriental}}</span>
				
				<span class="logs_list_time">{{(tab_now==0?l.loginTime:l.timeOfOper) | date:'yyyyMMdd-HH:mm:ss' }}</span>
				<!--<span class="logs_list_operate">{{tab_now==0?'登录系统成功':l.operDescription}}</span>-->
				<span class="logs_list_operate" ng-show="tab_now==0">{{l.type==0?'登录系统成功':'退出系统'}}</span>
				<span class="logs_list_operate" ng-show="tab_now==1">{{l.operDescription}}</span>
			</p>
		</div>
	</div>
</div>

