<div class="content_right fire_alarm_center_top border_radius_4">
	<video style="width: 100%;height: 100%;" id="myPlayer" poster="" controls playsInline webkit-playsinline autoplay>
		<source src="rtmp://rtmp.open.ys7.com/openlive/ada7a4e2aa134dea8a546634bc33627d" type="rtmp/flv" />
		<source src="http://hls.open.ys7.com/openlive/ada7a4e2aa134dea8a546634bc33627d.hd.m3u8" type="application/x-mpegURL" />
	</video>
</div>
<div class="content_right fire_alarm_center_btm fire_alarm_btm_bg border_radius_4 other_alarm_btm">
	<div id="second">
		<div class="divc">
			<span class="pd">切换摄像头</span>
		    <input class="inputb" placeholder="请输入摄像头编码或者名称"></input>
		</div>
		<div class="circle">
			<img class="head_img" src="images/camera.png"/>
			<img class="xiao1" src="images/Triangle.png" />
		    <img class="xiao2" src="images/Triangle.png"/>
		    <img class="xiao3" src="images/Triangle.png" />
		    <img class="xiao4" src="images/Triangle.png"/>
		    <img class="xiao5" src="images/Triangle.png" />
		    <img class="xiao6" src="images/Triangle.png" />
		    <img class="xiao7" src="images/Triangle.png" />
		    <img class="xiao8" src="images/Triangle.png"/>
		</div>
	    <div class="shu"></div>
		<div class="divping">
		   <div>
		   	<span class="littlea"><img src="images/Rectangleone.png"></span>
           	<span class="littlea" style="margin-left: 20px;"><img src="images/Rectangletwo.png"></span>
		   </div>
           <div style="margin-top: 20px;">
           	<span class="littlea"><img src="images/Rectanglefour.png"></span>
           	<span class="littlea" style="margin-left: 20px;"><img src="images/Rectangleeight.png"></span>
           </div>
        </div>
	</div>
</div>
<div class="content_left top_right_0 width_186 border_radius_4 overflow_hidden fire_alarm_gray_bg">
	<div class="fire_alarm_right_top border_radius_top_4" style="height: 81px;">
		<div class="fire_alarm_right_title">联网单位列表</div>
		<span class="search_wrap margin_left_9"><input class="input_text width_168 right_enter_press" placeholder="请输入关键字搜索" ng-model="right_unit_srh"/><i class="ico_sprite search_ico" ng-click="get_right_unit('srh')"></i></span>
	</div>
	<ul class="fire_alarm_ul">
			<li>广州w酒店</li>
			<li>广州大厦</li>
			<li>瑞安广州中心</li>
	</ul>
</div>