<!--<div class="content_all border_radius_4 water_alarm_wrap">
	<p>该系统暂未接入监控平台</p>
</div>-->
<div class="content_all border_radius_4 online_count_all" style="background: #cdd1df;">
	<div class="content_right fire_alarm_center_top border_radius_4 device_static_wrap" style="padding:0px;margin-top: -10px;background: #cdd1df;">
		<div class="alarm_statis_new_cen border_radius_4" style="height: 360px;">
			<select class="select_text statis_select" style="width: 95px;right: 127px;height: 25px;top: 15px;">
				<option value="2018">2018年</option>
			</select>
			<select class="select_text statis_select" style="width: 95px;height: 25px;top: 15px;">
				<option value="7">7月</option>
			</select>
			<div id="water_alarm_line" class="unit_statis_full"></div>
		</div>
	
		<div class="alarm_statis_new_cen border_radius_4" id="ea_table_id" style="border: 1px solid #E6E6E6;margin-top: 15px;">
			<div class="online_count_scroll border_radius_4">
				<p class="list_data list_data_head min_width_793" style="background:#eef1f7;">
					<span class="alarm_statiss_tim" style="padding-left: 15px;width: 18%;">报警时间</span>
					<span class="alarm_statiss_nam" style="padding-left: 0px;width: 15%;">单位名称</span>
					<span class="alarm_statiss_addre" style="padding-left: 0px;width: 13%;">报警点</span>
					<span class="alarm_statiss_pos" style="padding-left: 0px;width: 13%;">报警位置</span>
					<span class="alarm_statiss_style" style="padding-left: 0px;width: 13%;">报警类型</span>
					<span class="alarm_statiss_val" style="padding-left: 0px;width: 13%;">报警值</span>
					<span class="alarm_statiss_status" style="padding-left: 0px;width: 13%;">当前状态</span>
				</p>
				<div class="list_data_scroll fix_time_data min_width_793" >
					<p class="list_data cursor_normal min_width_793" style="background:#fff;border-bottom: 1px solid #eee;">
						<span class="alarm_statiss_tim" style="padding-left: 15px;width: 18%;">20180706-13:32:05</span>
						<span class="alarm_statiss_nam" style="padding-left: 0px;width: 15%;">东圃大厦</span>
						<span class="alarm_statiss_addre" style="padding-left: 0px;width: 13%;">水池水位</span>
						<span class="alarm_statiss_pos" style="padding-left: 0px;width: 13%;">负二层东北角</span>
						<span class="alarm_statiss_style" style="padding-left: 0px;width: 13%;">液位过低</span>
						<span class="alarm_statiss_val" style="padding-left: 0px;width: 13%;">95</span>
						<span class="alarm_statiss_status" style="padding-left: 0px;width: 13%;">恢复正常</span>
					</p>
					<p class="list_data cursor_normal min_width_793" style="background:#fff;border-bottom: 1px solid #eee;">
						<span class="alarm_statiss_tim" style="padding-left: 15px;width: 18%;"></span>
						<span class="alarm_statiss_nam" style="padding-left: 0px;width: 15%;"></span>
						<span class="alarm_statiss_addre" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_pos" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_style" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_val" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_status" style="padding-left: 0px;width: 13%;"></span>
					</p>
					<p class="list_data cursor_normal min_width_793" style="background:#fff;border-bottom: 1px solid #eee;">
						<span class="alarm_statiss_tim" style="padding-left: 15px;width: 18%;"></span>
						<span class="alarm_statiss_nam" style="padding-left: 0px;width: 15%;"></span>
						<span class="alarm_statiss_addre" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_pos" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_style" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_val" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_status" style="padding-left: 0px;width: 13%;"></span>
					</p>
					<p class="list_data cursor_normal min_width_793" style="background:#fff;border-bottom: 1px solid #eee;">
						<span class="alarm_statiss_tim" style="padding-left: 15px;width: 18%;"></span>
						<span class="alarm_statiss_nam" style="padding-left: 0px;width: 15%;"></span>
						<span class="alarm_statiss_addre" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_pos" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_style" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_val" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_status" style="padding-left: 0px;width: 13%;"></span>
					</p>
					<p class="list_data cursor_normal min_width_793" style="background:#fff;border-bottom: 1px solid #eee;">
						<span class="alarm_statiss_tim" style="padding-left: 15px;width: 18%;"></span>
						<span class="alarm_statiss_nam" style="padding-left: 0px;width: 15%;"></span>
						<span class="alarm_statiss_addre" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_pos" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_style" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_val" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_status" style="padding-left: 0px;width: 13%;"></span>
					</p>
					<!--<p class="list_data cursor_normal min_width_793" style="background:#fff;border-bottom: 1px solid #eee;">
						<span class="alarm_statiss_tim" style="padding-left: 15px;width: 18%;"></span>
						<span class="alarm_statiss_nam" style="padding-left: 0px;width: 15%;"></span>
						<span class="alarm_statiss_addre" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_pos" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_style" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_val" style="padding-left: 0px;width: 13%;"></span>
						<span class="alarm_statiss_status" style="padding-left: 0px;width: 13%;"></span>
					</p>-->
				</div>
			</div>
			<p class="ranking_info_btn text-right" style="margin-top: 8px;">
				<img src="images/a.png" alt="" style="margin-right: 35%;margin-top: 1px;"/>
				<span class="btn_size btn_blue margin_right_10 vertical_top">查看历史</span>
			</p>
		</div>		
		
		
		<!--弹窗-->
		<div class="ranking_info_detail" ng-show="detail_wa_show" style="width:100%;height:444px;margin-left:0px;left:0%;padding: 0px;box-shadow: 0 0 0px 0 #909090;"> 
			<div class="ranking_info_title" style="background: #36465C;border-top-left-radius: 4px;border-top-right-radius: 4px;">
				<span style="color: #fff;font-size: 15px;font-weight: bold;float: left;padding-left: 19px;">东圃大厦-实时监控信息</span>
				<i class="ico_sprite ico_close" ng-click="detail_wa_show = false" style="right: 16px;"></i>
			</div>
			<div class="check_task_scroll border_radius_4 ranking_info_scroll">
				<p class="list_data list_data_head min_width_440" style="min-width: 440px;">
					<span class="ranking_info_index" style="padding-left: 19px;width: 19%;">监测点</span>
					<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">监测设备</span>
					<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">监测位置</span>
					<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">参考范围</span>
					<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">单位</span>
					<span class="ranking_info_val" style="padding-left: 0px;width: 12%;">当前值</span>
					<span class="ranking_info_op" style="padding-left: 0px;">操作</span>
				</p>
				<div class="list_data_scroll fix_check_task min_width_440">
					<p class="list_data cursor_normal" style="min-width: 440px;">
						<span class="ranking_info_index" style="padding-left: 19px;width: 19%;">水池水位</span>
						<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">液位传感器</span>
						<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">负一层东北角</span>
						<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">100.00~500.00</span>
						<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">CM</span>
						<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">255.00</span>
						<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
					</p>
					<p class="list_data cursor_normal" style="min-width: 440px;">
						<span class="ranking_info_index" style="padding-left: 19px;width: 19%;">水池水位</span>
						<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">液位传感器</span>
						<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">楼顶水箱</span>
						<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">100.00~500.00</span>
						<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">CM</span>
						<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">120.00</span>
						<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
					</p>
					<p class="list_data cursor_normal" style="min-width: 440px;">
						<span class="ranking_info_index" style="padding-left: 19px;width: 19%;"title="喷淋主管网压力">喷淋主管网压力</span>
						<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">压力传感器</span>
						<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">负一层水池旁</span>
						<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">0.4~1.2</span>
						<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">MP</span>
						<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">1.1</span>
						<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
					</p>
					<p class="list_data cursor_normal" style="min-width: 440px;">
						<span class="ranking_info_index" style="padding-left: 19px;width: 19%;" title="消火栓主管网压力">消火栓主管网压力</span>
						<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">压力传感器</span>
						<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">负一层水池旁</span>
						<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">0.4~1.2</span>
						<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">MP</span>
						<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">1.0</span>
						<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
					</p>
					<p class="list_data cursor_normal"style="min-width: 440px;">
						<span class="ranking_info_index" style="padding-left: 19px;width: 19%;" title="喷淋管网最不利点压力">喷淋管网最不利点压力</span>
						<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">压力传感器</span>
						<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">二层最东边洗手间</span>
						<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">0.4~1.2</span>
						<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">MP</span>
						<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">0.45</span>
						<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
					</p>
					<p class="list_data cursor_normal" style="min-width: 440px;">
						<span class="ranking_info_index" style="padding-left: 19px;width: 19%;" title="消火栓管网最不利点压力">消火栓管网最不利点压力</span>
						<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">压力传感器</span>
						<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">六层走廊最里面消火栓箱</span>
						<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">0.4~1.2</span>
						<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">MP</span>
						<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">0.5</span>
						<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
					</p>
				</div>		
			</div>
		</div>
	
		<!--弹窗-->
		<div class="ranking_info_detail" ng-show="detail_wa_gz_show" style="width:100%;height:444px;margin-left:0px;left:0%;padding: 0px;box-shadow: 0 0 0px 0 #909090;"> 
			<div class="ranking_info_title" style="background: #36465C;border-top-left-radius: 4px;border-top-right-radius: 4px;">
				<span style="color: #fff;font-size: 15px;font-weight: bold;float: left;padding-left: 19px;">广州日航酒店-实时监控信息</span>
				<i class="ico_sprite ico_close" ng-click="detail_wa_gz_show = false" style="right: 16px;"></i>
			</div>
			<div class="check_task_scroll border_radius_4 ranking_info_scroll">
				<p class="list_data list_data_head min_width_440" style="min-width: 440px;">
					<span class="ranking_info_index" style="padding-left: 19px;width: 19%;">监测点</span>
					<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">监测设备</span>
					<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">监测位置</span>
					<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">参考范围</span>
					<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">单位</span>
					<span class="ranking_info_val" style="padding-left: 0px;width: 12%;">当前值</span>
					<span class="ranking_info_op" style="padding-left: 0px;">操作</span>
				</p>
			<div class="list_data_scroll fix_check_task min_width_440">
				<p class="list_data cursor_normal" style="min-width: 440px;">
					<span class="ranking_info_index" style="padding-left: 19px;width: 19%;">水池水位</span>
					<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">液位传感器</span>
					<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">负一层东北角</span>
					<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">100.00~500.00</span>
					<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">CM</span>
					<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">255.00</span>
					<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
				</p>
				<p class="list_data cursor_normal" style="min-width: 440px;">
					<span class="ranking_info_index" style="padding-left: 19px;width: 19%;">水池水位</span>
					<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">液位传感器</span>
					<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">楼顶水箱</span>
					<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">100.00~500.00</span>
					<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">CM</span>
					<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">120.00</span>
					<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
				</p>
				<p class="list_data cursor_normal" style="min-width: 440px;">
					<span class="ranking_info_index" style="padding-left: 19px;width: 19%;"title="喷淋主管网压力">喷淋主管网压力</span>
					<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">压力传感器</span>
					<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">负一层水池旁</span>
					<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">0.4~1.2</span>
					<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">MP</span>
					<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">1.1</span>
					<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
				</p>
				<p class="list_data cursor_normal" style="min-width: 440px;">
					<span class="ranking_info_index" style="padding-left: 19px;width: 19%;" title="消火栓主管网压力">消火栓主管网压力</span>
					<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">压力传感器</span>
					<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">负一层水池旁</span>
					<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">0.4~1.2</span>
					<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">MP</span>
					<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">1.0</span>
					<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
				</p>
				<p class="list_data cursor_normal" style="min-width: 440px;">
					<span class="ranking_info_index" style="padding-left: 19px;width: 19%;" title="喷淋管网最不利点压力">喷淋管网最不利点压力</span>
					<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">压力传感器</span>
					<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">二层最东边洗手间</span>
					<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">0.4~1.2</span>
					<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">MP</span>
					<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">0.45</span>
					<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
				</p>
				<p class="list_data cursor_normal" style="min-width: 440px;">
					<span class="ranking_info_index" style="padding-left: 19px;width: 19%;" title="消火栓管网最不利点压力">消火栓管网最不利点压力</span>
					<span class="ranking_info_time" style="padding-left: 0px;width: 15%;">压力传感器</span>
					<span class="ranking_info_position" style="padding-left: 0px;width: 20%;">六层走廊最里面消火栓箱</span>
					<span class="ranking_info_describ" style="padding-left: 0px;width: 18%;">0.4~1.2</span>
					<span class="ranking_info_status" style="padding-left: 0px;width: 10%;">MP</span>
					<span class="ranking_info_val" style="color:#09BD74;padding-left: 0px;width: 12%;">0.5</span>
					<span class="ranking_info_op" style="padding-left: 0px;color:#084ED5;text-decoration: underline;">查看</span>
				</p>
			</div>	
		</div>
	</div>
</div>

	<div class="content_left top_right_0 width_186 border_radius_4 overflow_hidden">
		<div class="fire_alarm_right_top border_radius_top_4" style="height: 81px;">
			<div class="fire_alarm_right_title">单位实时信息</div>
			<span class="search_wrap margin_left_9"><input class="input_text width_168 right_enter_press" placeholder="请输入关键字搜索" /><i class="ico_sprite search_ico"></i></span>
		</div>
		<ul class="fire_alarm_ul">
			<li ng-click="detail_wa_click()" ng-class="detail_wa_show?'dpds_wa':'bg_color'" class="aaa">东圃大厦</li>
			<li ng-click="detail_wa_gz_click()" ng-class="detail_wa_gz_show?'dpds_wa_gz':''">广州日航酒店</li>
		</ul>
	</div>
</div>




<!--<div class="content_right fire_alarm_center_top border_radius_4">
	<div class="check_task_top border_radius_top_4">
		<div class="check_task_wrap">
			<span class="fix_time_check"><i class="ico_sprite radio_box_normal radio_box_check" ng-click="get_search('all')" ng-class="all?'radio_box_check':''"></i>全部</span>
			<span class="fix_time_check"><i class="ico_sprite check_box_normal" ng-click="get_search('unhandle')" ng-class="unhandle?'check_box_select':''"></i>未处理</span>
			<span class="fix_time_check"><i class="ico_sprite check_box_normal" ng-click="get_search('handled')" ng-class="handled?'check_box_select':''"></i>待确认</span>
			<hr class="fire_alarm_sep"/>
			<span class="fix_time_check"><i class="ico_sprite check_box_normal" ng-click="get_search('real')" ng-class="real?'check_box_select':''"></i>温度</span>
			<span class="fix_time_check"><i class="ico_sprite check_box_normal" ng-click="get_search('fake')" ng-class="fake?'check_box_select':''"></i>湿度</span>
			<span class="fix_time_check"><i class="ico_sprite check_box_normal" ng-click="get_search('test')" ng-class="test?'check_box_select':''"></i>液位</span>
			<span class="fix_time_check"><i class="ico_sprite check_box_normal" ng-click="get_search('test')" ng-class="test?'check_box_select':''"></i>液压</span>
			<span class="search_wrap min_1024"><input class="input_text width_143 enter_press" placeholder="请输入关键字搜索" ng-model="search_key"/><i class="ico_sprite search_ico" ng-click="get_search('text')"></i></span>
		</div>
	</div>
	<div class="check_task_scroll border_radius_4 check_task_setting min_fire_height">
		<p class="list_data list_data_head min_width_890">
			<span class="fire_alarm_checkbox">
				<i class="ico_sprite check_box_normal" ng-click="check_all = !check_all" ng-show="unhandle || handling || handled" ng-class="check_all?'check_box_select':''"></i>
			</span>
			<span class="fire_alarm_code">单位编码</span>
			<span class="fire_alarm_name">单位名称</span>
			<span class="fire_alarm_add">报警位置</span>
			<span class="fire_alarm_remark">警情概述</span>
			<span class="fire_alarm_status">警情状态</span>
			<span class="fire_alarm_time">报警时间</span>
			<span class="fire_alarm_time">接警时间</span>
		</p>
		<div class="list_data_scroll fix_check_task min_width_890">-->
			
			<!--xy<p class="list_data" ng-repeat="l in fire_list track by $index" ng-class="l.formatStatus.bg" ng-click="get_ids(l)" ng-style="l.selected?{'background':'#ECECEC'}:''">
				<span class="fire_alarm_checkbox"><i class="ico_sprite check_box_normal" ng-class="l.selected?'check_box_select':''"></i></span>
				<span class="fire_alarm_code">{{l.relay.famCustomerSite.code}}</span>
				<span class="fire_alarm_name" title="{{l.relay.famCustomerSite.name}}">{{l.relay.famCustomerSite.name}}</span>
				<span class="fire_alarm_add" title="{{l.reportingDevice.address.address}}">{{l.reportingDevice.address.address}}</span>
				<span class="fire_alarm_remark" title="{{danger_status(l.terminalStatusId)}}">{{danger_status(l.terminalStatusId)}}</span>
				<span class="fire_alarm_status" ng-class="l.formatStatus.font">{{l.formatStatus.texts}}</span>
				<span class="fire_alarm_time">{{l.alertTime | date:'yyyyMMdd HH:mm:ss'}}</span>
				<span class="fire_alarm_time">{{l.receivingTime | date:'yyyyMMdd HH:mm:ss'}}</span>
			</p>xy-->
			
			
			<!--<p class="list_data fire_alerm_danger">
				<span class="fire_alarm_checkbox"><i class="ico_sprite check_box_normal" ng-class="l.selected?'check_box_select':''"></i></span>
				<span class="fire_alarm_code">TH00192</span>
				<span class="fire_alarm_name" title="维多利广场">维多利广场</span>
				<span class="fire_alarm_add" title="7主机-000回路-0061点位">7主机-000回路-0061点位</span>
				<span class="fire_alarm_remark" title="水管爆裂">水管爆裂</span>
				<span class="fire_alarm_status fire_alerm_worse" ng-class="l.formatStatus.font">未处理</span>
				<span class="fire_alarm_time">20180401 15:42:52</span>
				<span class="fire_alarm_time">20180401 15:42:53</span>
			</p>
			<p class="list_data fire_alerm_danger">
				<span class="fire_alarm_checkbox"><i class="ico_sprite check_box_normal" ng-class="l.selected?'check_box_select':''"></i></span>
				<span class="fire_alarm_code">TH00192</span>
				<span class="fire_alarm_name" title="维多利广场">维多利广场</span>
				<span class="fire_alarm_add" title="7主机-000回路-0061点位">7主机-000回路-0061点位</span>
				<span class="fire_alarm_remark" title="水溢出">水溢出</span>
				<span class="fire_alarm_status fire_alerm_worse" ng-class="l.formatStatus.font">未处理</span>
				<span class="fire_alarm_time">20180401 15:43:59</span>
				<span class="fire_alarm_time">20180401 15:44:02</span>
			</p>
			<p class="list_data">
				<span class="fire_alarm_checkbox"><i class="ico_sprite check_box_normal" ng-class="l.selected?'check_box_select':''"></i></span>
				<span class="fire_alarm_code">TH00192</span>
				<span class="fire_alarm_name" title="维多利广场">维多利广场</span>
				<span class="fire_alarm_add" title="7主机-000回路-0061点位">7主机-000回路-0061点位</span>
				<span class="fire_alarm_remark" title="泵房防火门-打开">泵房防火门-打开</span>
				<span class="fire_alarm_status" ng-class="l.formatStatus.font">未处理</span>
				<span class="fire_alarm_time">20180401 15:40:35</span>
				<span class="fire_alarm_time">20180401 15:40:37</span>
			</p>-->
			
		<!--</div>	
	</div>	
</div>-->
<!--<div class="content_right fire_alarm_center_btm fire_alarm_btm_bg border_radius_4" ng-show="!check_all">
	<div class="fire_alarm_btn_left">
		<textarea class="fire_alarm_textarea" ng-model="remark" ng-disabled='unit_ids.length<=0 || (!its_true && !its_wait && !its_fake && !its_test)' placeholder="您可在此填写备注内容"></textarea>
	</div>
	<div class="fire_alarm_btn_right">
		<span class="fire_light_blue fire_alarm_btn" ng-click="deal_alarm('true')" ng-class="its_true&&unit_ids.length?'fire_alerm_toconfirm':''"><i class="ico_sprite fire_alerm_disable"></i>真实火警</span>
		<span class="fire_light_blue fire_alarm_btn" ng-click="deal_alarm('wait')" ng-class="its_wait&&unit_ids.length?'fire_alerm_confirmed':''"><i class="ico_sprite fire_alerm_disable"></i>等待确认</span>
		<span class="fire_light_blue fire_alarm_btn" ng-click="deal_alarm('fake')" ng-class="its_fake&&unit_ids.length?'fire_alerm_wrong':''"><i class="ico_sprite fire_alerm_towrong"></i>误报火警</span>
		<span class="fire_light_blue fire_alarm_btn" ng-click="deal_alarm('test')" ng-class="its_test&&unit_ids.length?'fire_alerm_test':''"><i class="ico_sprite fire_alerm_totest"></i>测试火警</span>
		<div class="fire_alarm_btn_group">
			<hr class="fire_alarm_line"/>
			<span class="btn_size btn_light_blue" ng-class="unit_ids.length?'btn_blue':''" ng-click="show_unit_detail()">单位详情</span>
			<span class="btn_size btn_light_blue margin_top_21" ng-class="unit_ids.length?'btn_blue':''" ng-click="fire_detail()">警情信息</span>
		</div>
	</div>
</div>-->
<!--全选-->
<!--<div class="content_right fire_alarm_center_btm fire_alarm_btm_bg border_radius_4"  ng-show="check_all">
	<div class="fire_alarm_btn_left">
		<textarea class="fire_alarm_textarea" ng-model="remark" ng-disabled='fire_list.length<=0 || !check_all' placeholder="您可在此填写备注内容"></textarea>
	</div>
	<div class="fire_alarm_btn_right">
		<span class="fire_light_blue fire_alarm_btn" ng-click="deal_alarm_all('true')" ng-class="check_all&&fire_list.length&&undo_list.length?'fire_alerm_toconfirm':''"><i class="ico_sprite fire_alerm_disable"></i>真实水警</span>
		<span class="fire_light_blue fire_alarm_btn" ng-click="deal_alarm_all('wait')" ng-class="check_all&&fire_list.length&&undo_list.length&&(undo_list.indexOf(-1)==-1)?'fire_alerm_confirmed':''"><i class="ico_sprite fire_alerm_disable"></i>等待确认</span>
		<span class="fire_light_blue fire_alarm_btn" ng-click="deal_alarm_all('fake')" ng-class="check_all&&fire_list.length&&undo_list.length?'fire_alerm_wrong':''"><i class="ico_sprite fire_alerm_towrong"></i>误报水警</span>
		<span class="fire_light_blue fire_alarm_btn" ng-click="deal_alarm_all('test')" ng-class="check_all&&fire_list.length&&undo_list.length?'fire_alerm_test':''"><i class="ico_sprite fire_alerm_totest"></i>测试水警</span>
		<div class="fire_alarm_btn_group">
			<hr class="fire_alarm_line"/>
			<span class="btn_size btn_light_blue">单位详情</span>
			<span class="btn_size btn_light_blue margin_top_21">警情信息</span>
		</div>
	</div>
</div>
<div class="content_left top_right_0 width_186 border_radius_4 overflow_hidden fire_alarm_gray_bg">
	<div class="fire_alarm_right_top border_radius_top_4">
		<div class="fire_alarm_right_title">水系统报警单位列表</div>
		<span class="search_wrap margin_left_9"><input class="input_text width_168 right_enter_press" placeholder="请输入关键字搜索" ng-model="right_unit_srh"/><i class="ico_sprite search_ico" ng-click="get_right_unit('srh')"></i></span>
		<span class="fix_time_check margin_left_9" style="line-height: 39px;"><i class="ico_sprite radio_box_normal" ng-class="!right_unit.length?'radio_box_check':''" ng-click="get_right_unit('all')"></i>全部单位</span>
	</div>
	<ul class="fire_alarm_ul">-->
<!--xy		<li ng-repeat="l in fire_units" ng-click="select_unit(l)" ng-style="l.selected?{'background':'#ECECEC'}:''">【{{l.countSum}}】{{l.siteName}}</li>xy-->
			<!--<li>【13】维多利广场</li>
			<li>【5】广交会威斯汀酒店</li>
	</ul>
</div>

<fire_detail_alert show-alert="show_alert" fire-info="fire_details" type="trouble"></fire_detail_alert>
<unit-detail-alert show-alert="show_unit_alert" info="base_info" id="current_id" selected="current_tab" unit-name="unit_name" device-list="device_list" buildings-info="buildings_info"></unit-detail-alert>-->



